# GitHub CODEOWNERS file
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.

# Service repositories

* @wbd-streaming/access-all

# Default infra folders to ICE IE
infra/** @wbd-streaming/infrastructure-engineering
infra/terraform/**/*.tfvars @wbd-streaming/infrastructure-engineering @wbd-streaming/access-all
infra/terraform/**/.trigger @wbd-streaming/infrastructure-engineering @wbd-streaming/access-all

# Database
infra/terraform/*aurora*/** @wbd-streaming/database-reliability
infra/terraform/*dynamodb*/** @wbd-streaming/database-reliability
infra/terraform/*elasticache*/** @wbd-streaming/database-reliability
infra/terraform/*keyspace*/** @wbd-streaming/database-reliability

# Workflows
.github/workflows/rde-* @wbd-streaming/rde-delivery
.github/workflows/rde-decommission.yaml @wbd-streaming/rde-deploy
.github/workflows/infra-* @wbd-streaming/infrastructure-engineering


# Alerts
infra/terraform/*-alerts/** @wbd-streaming/access-all

# OMD Files
.omd/** @wbd-streaming/service-catalog
.github/workflows/dot-omd-validate-transform.yaml @wbd-streaming/service-catalog


